[submodule "angle"]
	path = angle
	url = https://github.com/Sunfly-Studios/angle
	branch = chromium/6601-godot
[submodule "third_party/astc-encoder/src"]
	path = third_party/astc-encoder/src
	url = https://chromium.googlesource.com/external/github.com/ARM-software/astc-encoder
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/Sunfly-Studios/chromium-zlib
	branch = godot-universal
